{{#link-to 'post' post.id}}
<div class="row content">
  <div class="col-md-6">
    <img src="{{post.image}}" alt="" class="image"/>
  </div>
  <div class="col-md-6">
    {{#link-to 'post' post.id}}<h3>{{post.title}}</h3>{{/link-to}}
    <h6>By <em>{{post.author}}, {{post.date}}</em></h6>
    <br>
    <p class="text-body">
      {{{post.content}}}
    </p>
  </div>
</div>{{/link-to}}
