{{#if formShow}}
  <div id="new-post">
    <h2>Add New Post</h2>
    <form class="form-group">
      <label for="title" >Title</label>
      {{input value=title placeholder=post.title class='form-control'}}<br>
      <label for="author">Author</label>
      {{input value=author placeholder=post.author class='form-control'}}<br>
      <label for="date">Date</label>
      {{input type="date" placeholder=post.date class='form-control'}}<br>
      <label for="image">Image URL</label>
      {{input value=image placeholder=post.image class='form-control'}}<br>
      <label for="category">Category</label>
      <select class='form-control'>
              {{#each model as |category|}}
          <option value={{category.name}}>{{category.name}}</option>
                {{/each}}
      </select>
      <label for="content">Content</label>
      {{textarea value=content placeholder=post.content class='form-control' rows="18" cols="50"}}<br>
      <button {{action 'savePost'}} class="btn btn-default">Save</button>
      <button {{action 'hidePostForm'}} class="btn btn-default">Cancel</button>
    </form>
  </div>
  {{else}}
  <button {{action 'showPostForm'}} class="btn btn-default new-post "><span class="glyphicon glyphicon-pencil"></span> New Post</button>
  {{/if}}
