{{#if addNewComment}}
  <div id="new-comment">
    <h2>Add New Comment</h2>
    <form class="form-group">
      <label for="author">Author</label>
      {{input value=author placeholder=comment.author class='form-control'}}<br>
      <label for="date">Date</label>
      {{input value=date type="date" placeholder=comment.date class='form-control'}}<br>
      <label for="content">Content</label>
      {{textarea value=content placeholder=comment.content class='form-control' rows="18" cols="50"}}<br>
      <button {{action 'saveComment'}} class="btn btn-default">Save</button>
    </form>
  </div>
{{else}}
  <br>
  <button {{action 'commentFormShow'}} class="btn btn-default btn-sm">Add new Comment</button>
{{/if}}
