<button {{action 'delete' post}} class="btn btn-danger">Delete</button>
{{#if updateFormShow}}
  <div id="update-post">
    <h2>Update Post</h2>
    <form class="form-group">
      <label for="title" >Title</label>
      {{input value=title placeholder=post.title class='form-control'}}<br>
      <label for="author">Author</label>
      {{input value=author placeholder=post.author class='form-control'}}<br>
      <label for="date">Date</label>
      {{input value=date placeholder=post.date class='form-control'}}<br>
      <label for="image">Image URL</label>
      {{input value=image placeholder=post.image class='form-control'}}<br>
      <label for="content">Content</label>
      {{textarea value=content placeholder=post.content class='form-control' rows="20" cols="50"}}<br>
      <button {{action 'update' post}} class="btn btn-primary">Save</button>
    </form>
  </div>
  {{else}}
<button {{action 'showUpdateForm'}} class="btn btn-default">Update Post</button>
  {{/if}}
